Ciao [$TO_NAME$],<br /><br />

c'è un nuovo commento all'idea che segui: scoprilo!
[$COMMENTS_USER_NAME$] ha aggiunto un nuovo commento all'idea  che segui: <a href="[$CONTENT_URL$]">scoprilo!</a>!<br /><br />

----------<br />
[$COMMENTS_BODY$]<br />
----------<br /><br />
Il team di FuturaTrento