#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ {
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .title-content {
	font-size: larger;
	padding-bottom: 30px;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .journal-content-article {
	background-image: url(/idea-mgmt-theme/images/background_nav_white.png);
	background-position: bottom 100%;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .title-container {
	padding: 70px 0;
	text-transform: uppercase;
	text-align: center;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .title-container div {
	margin: 0 auto;
	display: inline-block;
	padding: 0;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .title-over {
	margin-top: 0;
	color: #8A8C8E;
	font-weight: bold;
	text-align: right;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .title {
	font-size: 60px;
	white-space: nowrap;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .title-sub {
	margin-top: 0;
	text-align: left;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .desc {
	text-align: center;
	font-weight: bold;
	padding-bottom: 30px;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .desc-cols {
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .desc-cols .desc-col {
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .desc-cols .desc-col.desc-left {
	text-align: right;
	padding-right: 2em;
}

#p_p_id_56_INSTANCE_oCEDqD0W5FUX_ .desc-cols .desc-col.desc-right {
	text-align: left;
	padding-left: 2em;
}
